@page "/"
@rendermode RenderMode.InteractiveServer

@if (products != null)
{
    if (products.Any())
    {
        <ul>
            @foreach (var product in products)
            {
                <li>
                    @product.Name - $ @product.Price
                </li>
            }
        </ul>
    }
    else
    {
        <div>No products</div>
    }
}
else
{
    <div>Not found</div>
}