@page "/home"
@rendermode InteractiveServer

@if (products != null)
{
    if (products.Any())
    {
        <ul>
            @foreach (var product in products)
            {
                <li>
                    <s>@product.Name - $ @product.Price </s>

                </li>
            }
        </ul>
    }
    else
    {
        <div>No products</div>
    }
}
else
{
    <div>Not found</div>
}