@page "/account/login"

<PageTitle>Woue shop</PageTitle>

<EditForm Model="userModel" OnValidSubmit="LoginInUser" FormName="UserLogin"
          class="flex item-center mx-auto h-50 border-1 rounded">
    <DataAnnotationsValidator />
    <div>
        
        <h1>Sign in</h1>
        <p>to continue to Woue shop</p>

        <div style="color:red;">
            @errorMessage
            <ValidationSummary role="alert" />
        </div>

        <div>
            <label for="email">
                Email
                <InputText id="email" @bind-Value="@userModel.Email" />
                <ValidationMessage For="() => userModel.Email" />
            </label>
        </div>

        <div>
            <label for="password">
                Password
                <InputText id="password" type="password" @bind-Value="@userModel.Password" />
                <ValidationMessage For="() => userModel.Password" />
            </label>
        </div>

        <div>
            <label>
                <InputCheckbox @bind-Value="@userModel.RememberMe" />
                Remember me
            </label>
        </div>

        <div>
            <button>Sign In</button>
        </div>
    </div>

</EditForm>