<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <base href="/" />
    <link href="/css/app.css" rel="stylesheet" />
    <link rel="stylesheet" href="WoueShop.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    @* <link href="/css/app.min.css" rel="stylesheet" /> *@
    <link href="/css/flickity.min.css" rel="stylesheet" />
    <script src="/javascript/flickity.min.js"></script>
    <script src="/javascript/flickity.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
