<nav class="flex justify-between px-20 py-10 item-center bg-white dark:bg-gray-900 dark:text-white">
    <h1 class="text-xl text-gray-800 font-bold dark:text-white" title="Woue Shop"><a href="/">Woue Shop</a></h1>

    <div class="flex item-center">
        <div class="flex items-center mx-3 hover:outline hover:outline-1 rounded-lg outline-gray-500 px-1 focus:outline focus:outline-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 pt-0.5 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
            <input type="text" 
                class="ml-2 outline-none bg-transparent text-sm px-2.5 focus:border-gray-200 focus:ring-blue-200" 
                name="search" id="search" placeholder="Search..." />
        </div>
        <ul class="flex item-center space-x-6 py-1">
            <li class="font-semibold text-gray-700 dark:text-white">Home</li>
            <li class="font-semibold text-gray-700 dark:text-white">About</li>
            <li class="font-semibold text-gray-700 dark:text-white"><NavLink href="product">Product</NavLink></li>
        </ul>
        <div class="flex item-center ml-4 ">
            <svg class="h-8 p-1 hover:text-green-500 duration-200 svg-inline--fa fa-shopping-cart fa-w-18 fa-7x" aria-hidden="true" focusable="false" data-prefix="far" data-icon="shopping-cart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                <path fill="currentColor" d="M551.991 64H144.28l-8.726-44.608C133.35 8.128 123.478 0 112 0H12C5.373 0 0 5.373 0 12v24c0 6.627 5.373 12 12 12h80.24l69.594 355.701C150.796 415.201 144 430.802 144 448c0 35.346 28.654 64 64 64s64-28.654 64-64a63.681 63.681 0 0 0-8.583-32h145.167a63.681 63.681 0 0 0-8.583 32c0 35.346 28.654 64 64 64 35.346 0 64-28.654 64-64 0-18.136-7.556-34.496-19.676-46.142l1.035-4.757c3.254-14.96-8.142-29.101-23.452-29.101H203.76l-9.39-48h312.405c11.29 0 21.054-7.869 23.452-18.902l45.216-208C578.695 78.139 567.299 64 551.991 64zM208 472c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm256 0c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm23.438-200H184.98l-31.31-160h368.548l-34.78 160z" class=""></path>
            </svg>
        </div>

        @* <DropDown> *@
            <AuthorizeView>
                <Authorized>
                    <div>
                        <form action="api/auth/logout" method="post">
                            <AntiforgeryToken />
                            <input type="hidden" name="ReturnURL" value="@currentUrl" />
                            <button type="submit">Logout</button>
                        </form>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div>
                        <a href="/account/login?ReturnUrl=">Login</a>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        @* </DropDown> *@
    </div>
</nav>
