<footer class="bg-white rounded-lg w-full shadow bg-gray-50 dark:bg-gray-800 mt-8">
    <div class="px-20 p-4 w-full max-w-screen-xl mx-auto md:py-8">

        <div class="sm:flex sm:items-center sm:justify-between">
            <div class="mb-6 md:mb-0">
                <NavLink href="/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">WoueShop</span>
                </NavLink>
            </div>

            <div class="grid grid-cols-2 gap-8 sm:grid-cols-3 sm:gap-6">
                <div>
                    <h2 class="mb-6 font-semibold uppercase text-sm text-gray-900 dark:text-white">Company</h2>
                    <ul class="font-medium text-gray-500 dark:text-gray-400">
                        <li class="mb-4">
                            <NavLink href="https://github.com/MohammadFazaluddin" target="_blank" class="hover:underline">About Us</NavLink>
                        </li>
                        <li class="mb-4">
                            <NavLink href="#" class="hover:underline">Blog</NavLink>
                        </li>
                        <li class="mb-4">
                            <NavLink href="#" class="hover:underline" >Brand Center</NavLink>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 font-semibold uppercase text-sm text-gray-900 dark:text-white">Legal</h2>
                    <ul class="font-medium text-gray-500 dark:text-gray-400">
                        <li class="mb-4">
                            <NavLink href="#" class="hover:underline">Terms &amp; conditions</NavLink>
                        </li>
                        <li class="mb-4">
                            <NavLink href="#" class="hover:underline">Privacy policy</NavLink>
                        </li>
                        <li class="mb-4">
                            <NavLink href="#" class="hover:underline">Contact Us</NavLink>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 font-semibold uppercase text-sm text-gray-900 dark:text-white">Socials</h2>
                    <ul class="font-medium text-gray-500 dark:text-gray-400">
                        <li class="mb-4">
                            <NavLink href="https://github.com/ShaikhMFazaluddin" class="hover:underline">GitHub</NavLink>
                        </li>
                        <li class="mb-4">
                            <NavLink href="#" class="hover:underline">Instagram</NavLink>
                        </li>
                        <li class="mb-4">
                            <NavLink href="#" class="hover:underline">Twitter</NavLink>
                        </li>
                    </ul>
                </div>
               
            </div>

        </div>

        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"/>
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-sm text-gray-500 sm:text-center">
                &copy; 2024 <NavLink href="/">WoueShop&trade;</NavLink>. All Rights Reserved.
            </span>
        </div>
    </div>
</footer>