<footer class="bg-white rounded-lg shadow dark:bg-gray-900 m-4">
    <div class="px-20 p-4 w-full max-w-screen-xl mx-auto md:py-8">

        <div class="sm:flex sm:items-center sm:justify-between">
            <div class="mb-6 md:mb-0">
                <NavLink href="/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">WoueShop</span>
                </NavLink>
            </div>

            <div class="grid grid-cols-2 gap-8 sm:grid-cols-3 sm:gap-6">
                <div>
                    <h2 class="mb-6 font-semibold uppercase text-sm text-gray-900 dark:text-white">Resources</h2>
                    <ul class="font-medium text-gray-500 dark:text-gray-400">
                        <li class="mb-4">
                            <NavLink href="#" class="hover:underline">About us</NavLink>
                        </li>
                        <li class="mb-4">
                            <NavLink href="#" class="hover:underline">Terms &amp; conditions</NavLink>
                        </li>
                        <li class="mb-4">
                            <NavLink href="#" class="hover:underline">Privacy policy</NavLink>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 font-semibold uppercase text-sm text-gray-900 dark:text-white">Follow us</h2>
                    <ul class="font-medium text-gray-500 dark:text-gray-400">
                        <li class="mb-4">
                            <NavLink href="#" class="hover:underline"></NavLink>
                        </li>
                        <li class="mb-4">
                            <NavLink href="#" class="hover:underline"></NavLink>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</footer>