@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<div class="p-2.5">

    <div class="carousel mb-20">
        <div class="carousel-cell">
            @* <p>Halo Infinite</p> *@
            <img src="https://pbs.twimg.com/media/EeSCgeoUwAAoou7.jpg:large" alt="Halo Infinite" />
        </div>
        <div class="carousel-cell">
            @* <p>Asphalt Legends</p> *@
            <img src="https://images7.alphacoders.com/100/1007848.jpg" alt="Asphalt Legends" />
        </div>
        <div class="carousel-cell">
            @* <p>Half Life 2 - Episode Three</p> *@
            <img src="https://images7.alphacoders.com/616/616245.jpg" alt="Half Life 2 - Episode Three" />
        </div>
@* 
        <div class="carousel-cell">
            @* <p>The Legend Of Zelda</p> 
            <img src="https://i.pinimg.com/736x/6e/48/0f/6e480f06bd8c1c0c4c4fce9a330ae3ea.jpg" alt="The Legend Of Zelda" />
        </div> *@
        <div class="carousel-cell">
            @* <p>Far Cry 4</p> *@
            <img src="https://c4.wallpaperflare.com/wallpaper/891/1007/689/far-cry-4-video-games-landscape-wallpaper-preview.jpg" alt="Far Cry 4" />
        </div>
        <div class="carousel-cell">
            @* <p>Assassin's Creed</p> *@
            <img src="https://wallpaperaccess.com/full/6527692.jpg" alt="Assassin's Creed" />
        </div>
        <div class="carousel-cell">
            @* <p>Elder Scrolls V: Skyrim</p> *@
            <img src="https://cdn.wallpapersafari.com/47/61/cUdw4g.jpeg" alt="Elder Scrolls V: Skyrim" />
        </div> 
    </div>

</div>