@page "/"
@rendermode InteractiveAuto

@if (products != null)
{
    if (products.Any())
    {
        @foreach (var product in products)
        {
            <ProductCard Title="@product.Name" Price="@product.Price" />
        }
    }
    else
    {
        <div>No products</div>
    }
}
else
{
    <div>Not found</div>
}