@page "/"
@rendermode InteractiveAuto

<div class="grid grid-cols-5 gap-3">
    @if (products != null)
    {
        if (products.Any())
        {
            @foreach (var product in products)
            {
                <div class="col-1">
                    <ProductCard ProductId="@product.Id" Title="@product.Name" Price="@product.Price" />
                </div>
            }
        }
        else
        {
            <div>No products</div>
        }
    }
    else
    {
        <div>Not found</div>
    }
</div>