@page "/product/{id:Guid}"
@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveWebAssembly

@if (product is not null)
{
    <div class="flex">

        <div class="">
            <img src="https://store-images.s-microsoft.com/image/apps.62159.68326442227858632.03782b23-7f26-4a8e-ba87-177bdf2c3c90.1405eb3a-6314-4e44-a822-7660d70a6ec5?q=90&w=480&h=270"
                 class="rounded-t-lg p-5"
                 width="500"
                 alt=@product.Name />
        </div>
        <div class="m-10">
            <h1 class="text-5xl font-bold mb-5">@product.Name</h1>
            <p class="text-2xl">@product.Price.ToString("c")</p>
            <div class="mt-10">
                @product.Description
            </div>
        </div>
    </div>
}
else
{
    <center>
        <p>Not available</p>
    </center>
}