@page "/product/{id:Guid}"
@rendermode InteractiveWebAssembly

@if (product is not null)
{
    <h1>@product.Name</h1>
    <p>@product.Price</p>
    <div>
        @product.Description
    </div>
}
else
{
    <center>
        <p>Not available</p>
    </center>
}